@charset "utf-8";
/* CSS Document */
body{ font-family: '宋体' , Arial, Helvetica, sans-serif;line-height: 22px;color: #000; }
body, div, dl, dt, dd, ul, ol, li,  h4, h5, h6, pre, form, fieldset, p, b, blockquote, table, th, img, font
, hr{margin:0;padding:0;font-size: 12px;}
ul,ol,li{list-style: none;}
img {border: none;vertical-align: middle; -ms-interpolation-mode: bicubic;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;}
em{font-style: normal;}
a{text-decoration:none; color:#333333;}
a:hover{text-decoration:none;}



.img1{
width:1000px;
height:530px;
display:flex;
align-items:center;
justify-content:center;

background-color:#eceaeb;}


.img1 img{
width:auto;
 height:auto; max-height:100%;max-width:100%
}






.centerDiv {vertical-align:middle; text-align:center;}

#header{ width:1000px; height:112px; margin:0 auto;}
#header .logo{ width:302px; height:85px; float:left; margin-top:20px; }
#header .title{ width:233px; height:29px; float:left; margin-top:20px;margin-left:40px;}
#header .right_jm{ width:180px; height:29px; float:right; margin-top:0px;}
#header .right_jm a{ display:block; width:55px; height:29px; font-size:15px; font-family:microsoft yahei; color:#333; float:right; text-indent:25px; margin-left:5px;}
#header .right_jm .shouye{line-height:29px; background:url(../image/list_tu.jpg) no-repeat;}
#header .right_jm .jiameng{line-height:29px; background:url(../image/list_tu.jpg) no-repeat -60px 0px;}
#header .right_jm .lianxi{background:url(../image/list_tu.jpg) no-repeat -120px 0px;}

#nav{ width:100%; height:38px; line-height:38px; background:url(../image/nav.jpg) repeat-x;}
#nav .conent{ width:1000px; height:38px; margin:0 auto;}
#nav .conent ul li{ float:left; height:38px; line-height:38px; background:url(../image/list1.jpg) no-repeat right;}
#nav .conent ul li a{ display:block; padding-left:30px; padding-right:30px; font-family:microsoft yahei; color:#fff; font-size:16px;}
#nav .conent ul li a:hover{ background:url(../image/hover.jpg) repeat-x;}
#nav .conent ul li .hover_bj{ background:url(../image/hover.jpg) repeat-x;}

#nav{ width:100%; height:38px; line-height:38px; background:url(../image/nav.jpg) repeat-x;}
#nav .conent1{ width:1000px; height:38px; margin:0 auto;}
#nav .conent1 ul li{ float:left; height:38px; line-height:38px; background:url(../image/list1.jpg) no-repeat right;}
#nav .conent1 ul li a{ display:block; padding-left:30px; padding-right:30px; font-family:microsoft yahei; color:#fff; font-size:16.8px;}
#nav .conent1 ul li a:hover{ background:url(../image/hover.jpg) repeat-x;}
#nav .conent1 ul li .hover_bj{ background:url(../image/hover.jpg) repeat-x;}


/* banner */
.flexslider{margin:10px auto;position:relative;width:1000px;height:530px;overflow:hidden;zoom:1;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.flex-direction-nav a{width:60px;height:90px;line-height:99em;overflow:hidden;margin:-60px 0 0;display:block;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;}
.flex-direction-nav .flex-next{background-position:0 -90px;right:0;}
.flex-direction-nav .flex-prev{left:0;}
.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:0;filter:alpha(opacity=50);}
.flex-control-nav{width:100%;position:absolute;bottom:10px;text-align:center;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../image/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:0 0;}

#main{ width:100%; height:auto; background:url(../image/bj_sd.jpg) repeat-x;}
#main .conent_zt{ width:1000px; height:auto; margin:0 auto; padding-top:1px;padding-bottom:25px;}
#main .conent_xl{ width:495px; height:286px; float:left; background:url(../image/shu.jpg) no-repeat right; margin-left:3px;}
#main .con_neri{ width:426px; height:280px;}
#main .con_neri h1{ font-size:25px; font-family:Times New Roman; color:#404040; margin:0px; padding:0px; line-height:30px; height:30px; font-weight:bold;}
#main .con_jieshao p{ line-height:20px; color:#555454;font-size:14px;}
#main .con_jieshao{ width:426px; height:67px; overflow:hidden;}


#main .con_jieshao1 p{ line-height:17px; color:#555454; font-size:17px;color:black;font-family:Times New Roman;}
#main .con_jieshao1{ width:426px; height:67px; overflow:hidden;}


#main .con_img{ width:426px; height:200px; }
#main .con1{ width:479px; height:243px; float:left; margin-left:15px; background:url(../image/bj_tu.jpg) repeat-x; border-left:1px solid #e1e0e1; border-right:1px solid #e1e0e1; margin-top:25px;}
#main .con1 .left_wen{ width:298px; height:220px; float:left; margin-top:15px; margin-left:10px;}
#main .con1 .left_wen h1{ font-size:16px; font-family:microsoft yahei; color:#333; font-weight:normal; background:url(../image/listb.jpg) no-repeat 0px; height:25px; line-height:25px; margin:0px; text-indent:15px; padding:0px;}
#main .con1 .left_wen p{color:#615f5f; margin-top:10px;}
#main .con1 .left_wen ul { margin-top:10px;}
#main .con1 .left_wen ul li{ line-height:25px; }
#main .con1 .left_wen ul li a{ color:#615f5f;}
#main .con1 .bottom_wh{ width:350px; height:35px; line-height:35px; margin-top:10px;}
#main .con1 .bottom_wh a{ display:block; width:90px; float:left; height:35px; line-height:35px; font-family:microsoft yahei; background:url(../image/listc.jpg)no-repeat 0px;  font-size:13px; color:#c91e18; text-indent:10px;}
#main .con1 .right_tu{ width:134px; height:184px; float:left; margin-top:35px; margin-left:10px;}

#main .con2{ width:1000px; height:256px; margin:5px auto;}

#main .tittle_z{ width:999px; height:30px; line-height:30px;  font-size:25px; font-family:times new roman; color:#404040;}

#main .tittle_z1{ width:999px; height:30px; line-height:30px;  font-size:18px; font-family:microsoft yahei; color:#3c3a3a; }

#main .warp_sp{ width:995px; height:195px; border:1px solid #e3e0e1; padding-top:10px; padding-bottom:10px; padding-left:1px; padding-right:1px; margin-top:10px;}

/* marqueeleft */
.marqueeleft{height:195px;width:960px;overflow:hidden;margin:10px auto;}
.marqueeleft ul{float:left;}
.marqueeleft li{float:left;margin:0 5px;display:inline;width:290px;height:180px;overflow:hidden;}
.marqueeleft li .pic{display:block;width:290px;height:180px;overflow:hidden;}
.marqueeleft li .txt{text-align:center;height:23px;line-height:23px;}


#main1{ width:100%; height: auto; background:#eceaeb; padding-top:20px;}
#main1 .tittle_cp{ width:1000px; height:28px; line-height:28px; margin:0 auto;}
#main1 .tittle_cp span{ font-size:26px; font-family:times new roman;color:#363434; }
#main1 .tittle_cp tt{ font-size:24px; font-family:microsoft yahei; color:#6c6969; margin-left:15px;}
#main1 .conent_cp{ width:1000px; height:auto; border:1px solid #dbd8da; background:url(../image/cp_bj.jpg) top repeat-x #fff; padding-top:5px; margin:20px auto; margin-bottom:0px; padding-bottom:30px;}
#main1 .conent_cp .sous{ width:960px; height:66px; border-bottom:1px solid #cccccc; margin:10px auto; margin-bottom:25px;}
#main1 .conent_cp .sous a{ display:block; height:34px; line-height:34px; padding-left:10px; padding-right:10px; font-size:16px; font-family:times new roman; float:left; margin-left:10px; background:#dcdcdc;}
#main1 .conent_cp .sous a:hover{ background:#b41610; color:#fff;}
#main1 .conent_cp .chanpins{ width:auto; height:auto; float:left; margin-left:25px;text-align:center;vertical-align:middle;}
#main1 .conent_cp .chanpins a{display:block;  text-align:center; font-size:12px; font-family:times new roman;}
#main1 .conent_cp .chan_tu{ width:300px; height:185px;}
#main1 .conent_cp .fenye{ width:370px; height:70px; margin-top:10px; margin:0 auto;}
#main1 .conent_cp .fenye a{ font-family:times new roman; padding-left:10px; padding-right:10px; }
#main1 .conent_cp .fenye span{ font-family:times new roman; padding-left:10px; padding-right:10px; color:#333;}


#main1 .conent_cp .chanpins0{ width:auto; height:auto; float:left; margin-left:25px;text-align:center;vertical-align:middle;}
#main1 .conent_cp .chanpins0 a{display:block;  text-align:center; font-size:12px; font-family:times new roman;}
#main1 .conent_cp .chan_tu0{ width:210px; height:185px;}


#main1 .conent_cp .chanpins1{ width:auto; height:185px; float:left; margin-left:25px;text-align:left; font-size:16px; font-family:times new roman;vertical-align:middle;}
#main1 .conent_cp .chan_tu1{ width:710px; height:185px;float:left;text-align:justify; font-size:18px; font-family:times new roman; }



#main1 .conent_xx{ width:937px; margin:0 auto;}
#main1 .conent_xx .tittle_xx{ width:937px; border-bottom:1px dashed #dcdcdc; height:70px;}
#main1 .conent_xx .tittle_xx h1{ margin:0px; font-size:18px; line-height:30px; font-weight:normal; font-family:times new roman; text-align:center; height:30px; line-height:30px;}
#main1 .conent_xx .tittle_xx p{ color:#6a6969; text-align:center; line-height:35px;}
#main1 .conent_xx .cp_tu{ width:940px; height:auto; overflow:hidden; margin-top:30px; margin-bottom:20px;}
#main1 .conent_xx .sxyemia{ width:940px; height:30px;}
#main1 .conent_xx .sxyemia span{ font-size:12px; font-family:times new roman;}
#main1 .conent_xx .sxyemia a{ color:#929292;font-family:times new roman;}
#main1 .conent_xx .sxyemia a:hover{ color:#b81313;}
#main1 .xinwen{ width:960px; height:auto; margin:0 auto; border-bottom:1px dashed #898989; margin-top:10px;}
#main1 .xinwen h1{color:#c91e18; font-size:20px; font-family:times new roman; margin:0px; height:30px; line-height:30px;}
#main1 .xinwen h1 a{ color:#c91e18;}
#main1 .xinwen p{ color:#454444; width:960px;font-size:18px;font-family:times new roman;}
#main1 .xinwen p span{ color:#6a6969;}
#main1 table tr td{ font-family:times new roman;}



#main2{ width:100%; height: auto; background:white; padding-top:20px;}
#main2 .tittle_cp{ width:1000px; height:22px; line-height:22px; margin:0 auto;}
#main2 .tittle_cp span{ font-size:24px; font-family:times new roman; color:#363434;}
#main2 .tittle_cp tt{ font-size:24px; font-family:microsoft yahei; color:#6c6969; margin-left:15px;}
#main2 .conent_cp{ width:998px; height:auto; border:1px solid #dbd8da; background:url(../image/cp_bj.jpg) top repeat-x #fff; padding-top:10px; margin:10px auto; margin-bottom:0px; padding-bottom:30px;}
#main2 .xinwen{ width:985px; height:auto; margin:0 auto; }
#main2 .xinwen p{ color:#454444; width:984px;font-size:18px;font-family:times new roman;}
#main2 .xinwen p span{ color:#6a6969;}


#main3{ width:100%; height: auto; background:white; padding-top:4px;}
#main3 .conent_cp{ width:1000px; height:auto; border:1px solid #dbd8da; background:url(../image/cp_bj.jpg) top repeat-x #fff; padding-top:20px; margin:1px auto; margin-bottom:0px; padding-bottom:2px;}
#main3 .xinwen{ width:985px; height:auto; margin:0 auto; }
#main3 .xinwen p{ color:#454444; width:984px;font-size:18px;font-family:times new roman;}
#main3 .xinwen p span{ color:#6a6969;}



.text_ly{ width:190px; height:23px; line-height:23px; font-size:12px; color:#333; border:1px solid #dbdbdb;}
.button_ti{ width:76px; height:35px; line-height:35px; background:#b90f0f; font-size:16px; color:#fff; border:0px; font-family:times new roman; float:left; margin-right:10px;}

#footer{ width:100%; height:68px; background:#303436; padding-top:5px;}
#footer .conent_bq{ width:540px; height:63px; margin:0 auto; }
#footer .conent_bq p{ text-align:center; color:#e4e0e0; line-height:16px;}
#footer .conent_bq p a{ color:#e4e0e0;}

<!--#footer .conent_bq .fenx{ width:65px; height:30px; margin:0 auto;}
#footer .conent_bq .fenx a{ display:block; float:left; width:24px; height:24px;}
#footer .conent_bq .ximl{ background:url(../image/fenxiang.jpg) no-repeat 0px -2px; }
#footer .conent_bq .tengxun{background:url(../image/fenxiang.jpg) no-repeat -30px -3px;margin-left:10px;}-->

/*在线客服*/

.fixed_box { width:154px; position:fixed; z-index:2; top:0; right:0; top:20%;}
.content_box { width:154px; z-index:2; top:0; right:0}
.content_title, .content_bottom, .close_btn a, .show_btn { background:url(../images/service/sidebar_bg.gif) no-repeat; }
.content_title { height:46px; background-position:-1165px 0; }
.content_title span { display:none; }
.content_list { font-family:Arial, Helvetica, sans-serif; padding:5px 5px; font-size:12px; background:url(../images/service/gray_line.gif) repeat-y center; text-align:center;}
.content_bottom { height:8px; overflow:hidden; background-position:-1165px -50px;}

.close_btn { position:absolute; right:10px; top:15px; }
.close_btn, .close_btn a { display:block; width:18px; height:20px; overflow:hidden; cursor:pointer; background-position:-44px -90px;}
.close_btn a:hover { background-position:-67px -90px;}
.close_btn a span { display:none;}

.show_btn { display:none; width:28px; height:112px; background-position:-231px 0 ;position:absolute; top:0; z-index:1; cursor:pointer; right:0px;}
.show_btn span { display:none;}

.content_list .qqserver p { text-align:center; padding:6px 0; margin:0; vertical-align:middle;}
.content_list .qqserver p span { margin-right:5px;}
.content_list .qqserver p img {display: inline; margin-top:-5px; vertical-align:middle;}
.content_list .phoneserver  { font-size:14px; text-align:center;}
.content_list .phoneserver h5 { font-family:"Microsoft Yahei"; font-weight:bold; color:#666; font-size:15px;}
.content_list .phoneserver p { padding:2px 0; _height:16px; margin:0;color: #666666;}
.content_list .msgserver { text-align:center; margin-bottom:5px;}
.content_list .msgserver a { background:url(../images/service/sidebar_bg.gif) no-repeat -119px -116px; padding-left:20px;}
.content_list hr { border-bottom:1px solid #E6E6E6; height:1px; margin:10px 0; clear:both;}
